<section class="block">
    <img src="images/illustration-grow-together.svg" alt="" class="block-image">
    <h2>Grow Together</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo assumenda enim architecto dolorem cumque nam quibusdam accusamus temporibus odio!
  </section>
  <section class="block">
    <img src="images/illustration-flowing-conversation.svg" alt="" class="block-image">
    <h2> Flowing Conversations</h2>
    <p>You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.</p>
  </section>
  <section class="block">
    <img src="images/illustration-your-users.svg" alt="" class="block-image">
    <h2>Your Users</h2>
    <p>It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately.</p>
  </section>
  <section class="block">

  </section>
  <section class="block">

  </section>