<section class="footer">
    <div class="call-out">
      <h2 class="call-out-heading">Ready to build your community</h2>
      <a href="#" class="btn btn--primary">get started for free</a>
    </div>
    <img src="images/illustration-flowing-conversation.svg" alt="">
    <h2 class="hero_heading">Build The Community Your Fans Will Love</h2>
    <p class="hero_paragraphy">Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.</p>
  </section>